---
import BaseLayout from "../layouts/BaseLayout.astro"
import FormattedDate from "../components/FormattedDate.astro"
import { Icon } from 'astro-icon/components'
import { slugify } from "../ts/utils"
import { getCollection } from "astro:content"
import Tags from "../components/Tags.astro"

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 3)


const uniqueTags: string[] = [
    ...new Set(posts.flatMap(article => article.data.tags.map(tag => slugify(tag)))),
]
---

<BaseLayout>
    <main class="mt-10">
        <section class="border-l-slate-800 dark:border-l-slate-300 border-l-2 rounded-sm pl-2 max-w-md">
            <!-- <p class="text-xl text-slate-100">Ali Jabrayilzade</p> -->
            <p>

                <span class="text-xl text-slate-600 dark:text-slate-300 max-w-fit py-1 rounded-xl">Ali Jabrayilzade</span>
                <span class="">Backend Dev</span>
            </p>
            <h1 class="text-slate-950 dark:text-slate-50 text-4xl my-3 font-bold">
                I create magic with tech.
            </h1>
            <!-- <p class="text-slate-300">
                Backend Developer who loves to bring ideas in to reality.
            </p> -->
            <div class="flex items-center">
                <a class="flex" href="https://twitter.com/jabrayilzadeali/" target="_blank">
                    <span class="sr-only">Follow Jabrayilzade Ali on Twitter</span>
                    <Icon name="x" width={15} height={15} />
                    <!-- <span>X</span> -->
                </a>
                <Icon name="slash" width={30} height={45} />
                <!-- <span>/</span> -->
                <a class="flex" href="https://github.com/jabrayilzadeali/" target="_blank">
                    <span class="sr-only">Go to Jabrayilzade Ali's GitHub profile</span>
                    <Icon name="github" width={22} height={22} />
                    <!-- <span>Github</span> -->
                </a>
                <!-- <span>/</span> -->
                <Icon name="slash" width={30} height={30} />
                <a class="flex" href="https://www.linkedin.com/in/jabrayilzadeali/" target="_blank">
                    <span class="sr-only">Go to Jabrayilzade Ali's Linkedin profile</span>
                    <Icon name="linkedin" width={22} height={22} />
                    <!-- <span>Github</span> -->
                </a>
            </div>
        </section>
        <!-- <section>
            {
                posts.map(post => (
                    <div>
                        <h1>{post.data.title}</h1>
                        <p>{post.data.pubDate}</p>
                        <hr>
                    </div>
                ))
            }
        </section> -->
        <section class="">
            <h1 class="text-4xl my-5">Latest Posts</h1>
            <ul class="flex flex-col divide-y divide-gray-800">
                {posts.map(post => (
                    <li class="py-6">
                        <div class="grid gap-4">
                            <FormattedDate date={post.data.pubDate} />
                            <div class="grid grid-cols-5 sm:grid-cols-3 gap-1 sm:gap-10">
                                <div class="col-span-3 sm:col-span-2">
                                    <a href={`/blog/${post.slug}/`}>
                                        <h2 class="text-base sm:text-2xl min-w-36 font-bold text-zinc-950 dark:text-zinc-50">{post.data.title}</h1>
                                        <p class="hidden sm:block text-sm py-3 pb-10">{post.data.description}</p>
                                    </a>
                                    <div class="hidden sm:flex justify-between align-center">
                                        <Tags tags={post.data.tags} />
                                        <Icon name="bookmark-outline" width={30} height={30} />
                                    </div>
                                </div>
                                <div class="self-center col-span-2 sm:col-auto">
                                    <a href={`/blog/${post.slug}/`}>
                                        <img 
                                            src={post.data.heroImage} 
                                            class=" rounded-xl sm:max-w-52" 
                                            alt="" 
                                        />
                                    </a>
                                </div>
                                  
                            </div>
                            <p class="sm:hidden line-clamp-2 text-sm my-3">{post.data.description}</p>
                            <div class="sm:hidden flex justify-between align-center">
                                <Tags tags={post.data.tags} />
                                <Icon name="bookmark-outline" width={30} height={30} />
                            </div>
                        </div>
                    </li>
                ))}
            </ul>
        </section>
    </main>
</BaseLayout>
