---
import { getCollection } from "astro:content"
import BaseLayout from "../../../layouts/BaseLayout.astro"

import { Icon } from 'astro-icon/components'

import FormattedDate from "../../../components/FormattedDate.astro"
import Tags from "../../../components/Tags.astro"
import { slugify } from "../../../utils"

export async function getStaticPaths() {
    const allPosts = await getCollection("blog")

    const uniqueTags = [
        ...new Set(
            allPosts.map(post => post.data.tags.map(tag => slugify(tag))).flat()
        ),
    ]
    // console.log(uniqueTags)

    return uniqueTags.map(tag => {
        // const filteredPosts = allPosts.filter(post =>
        //     post.data.tags.includes(tag)
        // )

        const filteredPosts = allPosts.filter(post => 
            post.data.tags.map(tag => slugify(tag)).flat().includes(tag)
        )

        return {
            params: { tag },
            props: { posts: filteredPosts },
        }
    })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout>
    <main>
        <section>
            <div class="my-10 gap-3 flex">
                <Tags tags={[tag]} />
                <a href="/blog" class="flex justify-center items-center gap-1"><Icon name="back" /> Back to Blog</a>
            </div>
            <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5">
                {
                    posts.map(post => (
                        <li class="">
                            <a href={`/blog/${post.slug}/`}>
                                <img
                                    width={720}
                                    height={360}
                                    src={post.data.heroImage}
                                    class="rounded-xl"
                                    alt=""
                                />
                                <h4 class="pt-4 text-xl font-bold">
                                    {post.data.title}
                                </h4>
                            </a>
                            <p class="date pt-1 text-sm mb-2">
                                <FormattedDate date={post.data.pubDate} />
                            </p>
                            <Tags tags={post.data.tags} />
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</BaseLayout>
